/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "assets/scss/global";
@import "assets/scss/header";
@import "assets/scss/forms";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    color: #2b3d51;
    overflow: hidden;
    background-color: #eee;
    font-size: 1.4rem;
}

.main-content {
    padding: 1.6rem;
    height: 100%;
}
